.tlp-card {
    border-radius: 2px !important;
    margin-bottom: 20px;
    margin-right: 20px;
}

.tlp-card-header {
    padding: 20px !important;
}

.tlp-card-content {
    padding: 5px 20px 20px 20px !important;
}

.tlp-card-action {
    padding: 20px !important;
}

.tlp-avatar {
    width: 55px !important; 
    height: 55px !important;
}

.tlp-username {
    font-size: 15px;
    font-weight: bolder;
    padding-bottom: 7px;
}

.tlp-time {
    font-size: 10px;
}

.tlp-title {
    font-size: 15px;
}

.tlp-card-media {
    height: 0;
    padding-top: 56.25%;
}

.tlp-action-field {
    margin-right: 15px;
}

.tlp-action-icon {
    padding: 1px !important;
    margin-right: 3px !important;
}

.tlp-action-icon-img {
    width: 25px;
    height: 25px;
}

.tlp-new-card {
    border-radius: 2px !important;
    margin-bottom: 20px;
    margin-right: 30px;
}

.tlp-new-title {
    font-size: 18px;
    font-weight: bold;
}